* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: default;
}

main {
    padding: 0 24px;
}

nav {
    padding: 21px 38px 21px 24px;
    display: flex;
    justify-content: space-between;
}   

.s1 {
    margin-top: 44px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

.p1 {
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 17.81px;
    margin-bottom: 8px;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: middle;

}

.p2 {
    margin-top: 8px;
    color: #FC004A;
    font-weight: 300;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

.imgs {
    width: 100%;
    height: 60%;
    margin-bottom: 16px;
}

.nav {
    letter-spacing: .7px;
    gap: 20px;
    display: flex;
    align-items: center;
    list-style: none;
}

.box {
    padding: 12px;
    width: 235px;
    height: 391px;
    border-radius: 15px;
    box-shadow: 0px 4px 6px -4px #0000001A;
    box-shadow: 0px 10px 15px -3px #0000001A;

}

.nav li:hover {
    color: red;
    transform: scale(1.1);
}

.B1_1 {
    width: 100%;
    height: 380px;
    margin-top: 63px
}

.x {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    margin-top: 30px;
    height: 40px;
    background-color: #FC004A;
    border-radius: 12px;
}

.x:hover {
    border: 3px solid #FC004A;
    background-color: white;
}

.x:hover .swap1 {
    display: block;
}

.swap1 {
    position: absolute;
    height: 36px;
    display: none;
}

.adres {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 41px;
    background-color: #FC004A;
    width: 256px;
    height: 36px;
    color: white;
    border-radius: 12px;
}

.adres:hover {
    color: #FC004A;
    background-color: white;
    border: 2px solid #FC004A;
}

.adres:hover :first-child {
    filter: invert(35%) sepia(100%) saturate(7000%) hue-rotate(335deg) brightness(100%) contrast(100%);

}

#df1 {
    display: flex;
    align-items: center;
    gap: 25px;
}

.center {
    display: flex;
    justify-content: center;
}

.Ceti {
    font-size: 32.48px;
    font-family: sans-serif;
    font-weight: 500;
    color: #262626;
    margin-top: 64px;
}

.end {
    display: flex;
    justify-content: end;
}

footer {
    margin-top: 81px;
    display: flex;
    margin-left: 96px;
    gap: 273px;
    height: 80px;
}

.footer_logo {
    width: 197px;
    height: 30px;
}

.footer_p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;

}

.b_menu {
    display: none;
    width: 30px;
}

.c2 {
    display: none;
}

.c3 {
    display: none;
}
@media(max-width:1145px) {
    .B1_1{
        width: 976px;
        height: 293px;
    }
}


@media(max-width:1000px) {
    .header_logo {
        display: none;
    }

    .c2 {
        display: block;
        width: 820px;
        margin-top: 60px;
    }

    .B1_1 {
        display: none;
    }
}

@media(max-width:865px) {
    .b_menu {
        display: block;
    }

    .nav {
        display: none;
    }

    .c2 {
        width: 700px;
        height: 250px;
    }

    footer {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
        margin-top: 81px;
        gap: 200px;
    }

}

@media(max-width:776px) {

    footer {
        gap: 50px;
    }
    .Ceti{
        text-align: center;
    }
}


@media(max-width:745px) {
    .c2 {
        width: 570px;
        height: 220px;
    }
}

@media(max-width:600px) {
    .c2 {
        width: 475px;
        height: 190px;
    }

    .Ceti {
        margin-top: 50px;
    }
}



@media(max-width:500px) {
    .adres {
        width: 200px;
        padding: 0 30px;
    }

    .footer_logo {
        width: 130px;
        height: 20px;
    }

    .footer_p {
        font-size: 13px;
    }

    .adres_p {
        font-size: 12px;
    }

    .Ceti {
        margin-top: 40px;
    }

    nav {
        padding: 21px 24px 21px 24px;
    }

    .c2 {
        display: none;
    }

    .c3 {
        margin-top: 20px;
        display: block;
    }
}

@media(max-width:375px) {

    .adres {
        width: 160px;
        height: 34px;
        padding: 0 18px;
    }
    .Ceti{
        text-align: start;
        margin-left: 15px;
    }

    .c3 {
        width: 295px;
    }

    .adres_p {
        font-size: 11px;
    }

    footer {
        flex-direction: column;
        align-items: center;
        gap: 12px;
        margin-top: 50px;
    }
}

@media(max-width:319px) {
    .c3 {
        width: 280px;
    }
    .Ceti{
        margin-left: 0;
    }
}